*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  max-width: 360px;
  max-height: 680px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport {
  width: device-width;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copyright {
  line-height: 1.6;
  color: #545E6C;
  font-size: 13px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

a {
  color: #2d7788;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #1a454f;
}

a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  background: #42A8C0;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bg_quiz {
  width: 360px;
  height: 680px;
  text-align: center;
  position: relative;
  color: white;
  background: url(../img/bg_question.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_question img {
  width: 300px;
  height: 150px;
  margin-top: 170px;
}

.bg_question p {
  font-weight: bold;
  position: absolute;
  width: 70%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_answer {
  width: 280px;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: white;
  border: 3px solid black;
}

.bg_answer:active {
  background-color: red;
}

.bg_answer.correct:active {
  background-color: green;
}

.bg_answer p {
  font-weight: bold;
  color: black;
  width: 70%;
}

.bg_answer p:active {
  color: white;
}

.bg_score {
  width: 360px;
  height: 680px;
  text-align: center;
  position: relative;
  color: white;
  background: url(../img/bg_final_score.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_score h1 {
    color: black;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    width: 70%;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_score .next {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.bg_score .next img {
    width: 30%;
}

.bg_share {
  width: 360px;
  height: 680px;
  text-align: center;
  position: relative;
  color: white;
  background: url(../img/bg_share.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_content_share img {
  width: 300px;
  height: auto;
  margin-top: 180px;
}

.bg_content_share .btn_download {
  cursor: pointer;
  color: black;
  font-weight: bold;
  position: absolute;
  width: 70%;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_content_share .btn_download {
  cursor: pointer;
  color: black;
  font-weight: bold;
  position: absolute;
  width: 70%;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_content_share .btn_web {
  cursor: pointer;
  color: black;
  font-weight: bold;
  position: absolute;
  width: 70%;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_content_share .btn_take_quiz_again {
  cursor: pointer;
  color: black;
  position: absolute;
  bottom: 40px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_content_share .btn_share {
  cursor: pointer;
  color: black;
  position: absolute;
  top: -15%;
  width: 30%;
  right: -40px;
  transform: translate(-50%, -50%);
}
